
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  html, body, #root {
    height: 100%;
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-in {
    animation: slideInFromLeft 1s ease-out;
  }
  .row{
    display: flex;
 
    justify-content: space-around;
  }
 
.links {
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  padding-left: 0; 
  margin-bottom: 0; 
}

.links a {
  margin-right: 15px; 
  margin-top: 30px;
}

.links a:last-child {
  margin-right: 0; 
}



.main-content {
  margin-top: 90px;
}

.home-content{
  margin-left: 60px;

}
.home-content p{
  font-size: 18px;
}


.last-footer{
  background-color: #e2e2e2;
  width: 50%;
  margin-left: 300px;
  border-radius: 12px;
  margin-top: 100px;
}

.footer{
  background-color: #eeeeee;
}

/* For sliding animation */
.form-container {
  position: relative;
  opacity: 0;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}




.form-create {
  margin-top: -5px;
  padding: 10px; 
 
  max-height: 300px; /* Sets a maximum height, adjust as needed */
 

}
 .heading{
  font-size: 20px;
  margin-top: 40px;
 }

